mat-card-header {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  margin: 20px;
  padding: 20px;
  border-radius:12px ;
}
.content{
  display: flex;
}
.content img{
width: 220px;}