<div>
  <h2>Component 1: Sign up form data</h2>
  <p>Email: {{ formData?.email || 'N/A' }}</p>
  <p>Username: {{ formData?.username || 'N/A' }}</p>
  <p>Password: {{ formData?.password || 'N/A' }}</p>
  <p>Confirm Password: {{ formData?.confirmPassword || 'N/A' }}</p>
</div>

<div>
  <h2>Component 2: Contact form data</h2>
  <p>Name: {{ contactFormData?.contactName || 'N/A' }}</p>
  <p>Email: {{ contactFormData?.contactEmail || 'N/A' }}</p>
  <p>Subject: {{ contactFormData?.subject || 'N/A' }}</p>
  <p>Message: {{ contactFormData?.message || 'N/A' }}</p>
</div>

