/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');
html,
body {
  height: 100%;
}
body {
  margin: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
//   .mat-mdc-form-field-infix,
// .mat-mdc-icon-button,
// .mdc-text-field--filled:not(.mdc-text-field--disabled) {
//   background-color: white;
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
